@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #fafbf6;
  box-shadow: 0px 4px 8px 0px, black;
}
.calculator .display {
  height: 20%;
  width: 90%;
  background-color: cadetblue;
  border: 2px solid red;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.5rem;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;
}
.calculator .display .result {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.4);
}
.calculator .display .operation {
  font-size: 3.5rem;
  color: white;
}
.calculator .calculator__keys {
  height: 60%;
  width: 100%;
  display: grid;
  padding: 20px;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.calculator .calculator__keys .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: #151515;
  font-size: 1.5rem;
}
.calculator .calculator__keys .button:hover {
  background-color: wheat;
}
.calculator .calculator__keys .operator {
  background-color: #565a75;
}
.calculator .calculator__keys .span-two {
  grid-column: span 2;
  border-radius: 0px;
}