@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #565a75, #c6b7be);
}
body header {
  height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #fafbf6;
}
body header .title {
  font-size: 1em;
}
body header .info {
  padding: 5px;
  font-size: 0.75em;
}
body main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .calculator {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
}
body main .calculator .display {
  height: 25%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  margin: 20px;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;
}
body main .calculator .display .result {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.4);
}
body main .calculator .display .operation {
  font-size: 2em;
  color: white;
}
body main .calculator .calculator__keys {
  height: 75%;
  width: 100%;
  display: grid;
  padding: 10px;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
body main .calculator .calculator__keys .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #151515;
  border-radius: 5px;
  background-color: #151515;
  font-size: 1.75rem;
  color: #fafbf6;
}
body main .calculator .calculator__keys .button:hover {
  background-color: rgba(70, 69, 69, 0.1);
  color: chocolate;
}
body main .calculator .calculator__keys .button::selection,
body main .calculator .calculator__keys .button::-moz-selection {
  color: none;
  background: none;
}
body main .calculator .calculator__keys .operator {
  background-color: rgba(86, 90, 117, 0.4);
  font-size: 2.5rem;
}
body main .calculator .calculator__keys .operator:hover {
  background-color: #565a75;
}
body main .calculator .calculator__keys .span-two {
  grid-column: span 2;
  border-radius: 0px;
  background-color: rgba(210, 105, 30, 0.8);
  color: #fafbf6;
}
body main .calculator .calculator__keys .span-two:hover {
  background-color: chocolate;
  color: #fafbf6;
}
body main .calculator .calculator__keys #answer {
  background-color: rgba(7, 45, 68, 0.6);
}
body main .calculator .calculator__keys #answer:hover {
  background-color: #072d44;
}

@media screen and (min-width: 768px) {
  body header {
    height: 15vh;
    text-align: center;
    padding-top: 10px;
  }
  body header .title {
    font-size: 1.5em;
  }
  body header .info {
    font-size: 1em;
  }
  body main {
    height: 85vh;
  }
  body main .calculator {
    width: 75%;
    height: 90%;
  }
  body main .calculator .display {
    height: 30%;
    padding: 10px;
    margin: 15px;
  }
  body main .calculator .display .operation {
    font-size: 4em;
  }
  body main .calculator .display .result {
    font-size: 3.5em;
  }
  body main .calculator .calculator__keys {
    height: 80%;
  }
}
@media screen and (min-width: 1024px) {
  body main .calculator {
    width: 50%;
  }
  body main .calculator .display .operation {
    font-size: 4em;
  }
  body main .calculator .display .result {
    font-size: 2.5em;
  }
}