@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

$font-main: "Montserrat", sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  height: 40%;
  width: 100%;
  background-color: cadetblue;
}

.grid {
  height: 60%;
  width: 100%;
  display: grid;
  padding: 20px;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: black;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: chocolate;
}

@media screen and (min-width: $breakpoint-laptop) {
  .grid {
    height: 90%;
    width: 30%;
  }
}
